.list-container{
    position: absolute;
    right: 140px;
    top: 200px;
    width: 360px;

}
.list-items{
    display: flex;
    border:1px solid black;
    justify-content: space-between;
    padding: 10px 20px;

    
    input{
        padding: 9px 17px;
    }

}